:root {
  --sl-color-accent-low: #ffffff;
  --sl-color-accent: #ffffff;
  --sl-color-accent-high: #2c394c;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e8eef8;
  --sl-color-gray-2: #c1c9d5;
  --sl-color-gray-3: #96a5bc;
  --sl-color-gray-4: #4b596e;
  --sl-color-gray-5: #2c394c;
  --sl-color-gray-6: #0000;
  --sl-color-black: #0000;
}
